html { scroll-behavior: smooth; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;  
    background-color: #f7f7f9;
    width: 34%;
 

    padding:10px;
    overflow:scroll;
    font-family: 'Lato';
  }
  

header {
    
    display:flex;
    flex-direction: row;
    justify-content: left;

    margin:10px;
}




#heroPage {
   
     background-image: url("images/mobile_intro_bg.png");
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     justify-items: start;
     justify-content: space-evenly;
     margin-top:10px;
     gap:10px;
     color:#EC5242;
}
.hero_h1 {
  color:#EC5242;
  padding-left: 1rem;
  font-weight: 900;
  font-size: 2rem;

 
 
 
}



#desc {
color:#5c5858;
padding:5%;
line-height:2rem;
border:solid #fff;
text-align: left;
font-weight:600;
}

#main {
  background-color: #272A31;
  background-image: url('images/pattern_bg.png');
  background-repeat: repeat;
  width:100%;
  color:#D3D3D3;
 }
#main_heading {
  text-align: center;
  padding:15px;
}
#date {
color:#5c5858;
font-weight: 800;
font-size: 2rem;
}

#location {
  color:#5c5858;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom:16%;
}

#divider {
  border:solid #EC5242;
  width:20%;
  margin-left:38%;
}
.desktop{
 display: none;
}


#main_page_heading li {

  background-color:gray;
  border: 1px solid transparent; 
 

  margin:5px;

  margin:10px;  
  display: flex;
  flex-direction: row;
  align-items: self-start;
  gap:5px;


}

#main_page_heading li h3 {
  color: #EC5242;
  min-width:25%;
 
}
#main_page_heading li p  {
  
  min-width:60%;
 
}
#join_button {
  color:#D3D3D3;
  font-size: 1.2rem;
  font-weight:600;
  background-color: #EC5242;
  width:80%;
  padding: 8%;
  border:none;
  margin-left: 10%;
  margin-right:10%;
  margin-top:5%;
  margin-bottom:5%;
}

