html { scroll-behavior: smooth; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    /* padding:10px;
    overflow:scroll; */
    font-family: 'Lato',sans-serif;
  }
  

#mobile-header {
    
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    margin:2%;
}
#mobile-header img {
  max-width: 60%;
  height:auto;
  margin-bottom:10%;

}

.seeProgram {

color:#D3D3D3;
margin-left: auto;
margin-right: auto;
margin-bottom: 5%;;

}

#heroPage {
   
     background-image: url("images/mobile_intro_bg.png");
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-items: start;
     justify-content: space-evenly;
     margin-top:10px;
     gap:10px;
     color:#EC5242;
}
#hero_h1 {

  padding-left: 1rem;
  font-weight: 900;
    padding-left: 1rem;
    font-size: 3rem;
    font-weight: 1100;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: url(images/titlebackground.jpeg);
  
}

.hero h3 {
  font-size: 2.5rem;
  font-weight: 10;
}

#desc {
color:#5c5858;
padding:5%;
line-height:1.3rem;
border:solid #fff;
text-align: left;
font-weight:600;
font-size: 1 rem;
margin:5%;
}

#main {
  background-color: #272A31;
  background-image: url('images/pattern_bg.png');
  background-repeat: repeat;
  width:100%;
  color:#D3D3D3;
 }

 .divider_main {
  width:1%;
 }
.heading_div {
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:5%;

}

#main_heading {
  text-align: center;
  padding:15px;
}

#date {
color:#5c5858;
font-weight: 800;
font-size: 2rem;
white-space: nowrap;
text-align: left;
margin-left:5%;
}

#location {
  color:#5c5858;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom:16%;
  text-align:left;
  margin-left:5%;
}



.divider {
  border:solid #EC5242 1px;
  width:10%;

  
}

.display_desktop{
 display: none !important;
}
.display_mobile {
display:block !important;
}


#main_page_heading li {

  background-color:#3C3F46;
  border: 1px solid transparent; 
  margin:5px;
  margin:10px;  
  display: flex;
  flex-direction: row;
  align-items: self-start;
  backdrop-filter: blur;
  gap:5px;
  padding:5%;

 
}


#main_page_heading li h3 {
  color: #EC5242;
  min-width:25%; 
  text-align: center;

}

#main_page_heading li p  {
  width:60%;

}

#join_button {
  color:#D3D3D3;
  font-size: 1.2rem;
  font-weight:600;
  background-color: #EC5242;
  width:80%;
  padding: 8%;
  border:none;
  margin-left: 10%;
  margin-right:10%;
  margin-top:5%;
  margin-bottom:5%;
}

#hamburgerMenu {
  display:none;
  background-color:#5c5858; 
  flex-direction: column;
  justify-content: left;
  padding: 7.125rem 1.5rem;
  width: 100%;
  height: 750px;
  display: none;
  position: fixed;
  opacity: 0.8;
  top: 0;
  padding-top: 5px;
  z-index: 9999;

}
.popmenu-list {
  list-style: none;
  font-weight:600;
  font-size: 2rem;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  z-index:9999;
  margin-left:3% ;
}
.popmenu-list > .menu-list {

 list-style: none;
 font-weight:600;
 font-size: 2rem;

}
.popmenu-list > .menu-list > a{
  text-decoration: none;
  color:#EC5242;
  font-style: solid;
}

#closebtn {
  margin-top:0;
  margin-right:0;
  margin-left:90%;
}

/*  -------  javascript html related css -------- */

 .speakers_visibility{
 display:none important;
}



.btn_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.button_more {
  padding:3%;
  background-color:#fff;
  border:solid #5c5858 1px;
  width:70%;
  margin: 5%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  gap:3%; 
}

.speakerDiv{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5%;
  
}

.spkrs_head {
  color:#272A31;
  padding:5%;
  font-size: 1.5rem;

}
.profile-image {
  width:100%;
  height:auto;
  padding:3%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap:5%;
  width:100%;
  height:auto;
  margin: 1%;
 
}


.info_div {
  display:flex;
  flex-direction: column;
  justify-content:left;
  gap:3%;

}

.info_div .name {
  color:#272A31;
  font-size: 1.5rem;
   margin-bottom: 2%;
}
.info_div > .about {
  color: #EC5242;
  font-style: italic;
  margin-bottom: 2%;

}

.info_div > .achieve {
  color:#5c5858;
  font-size: 0.75rem;
  margin-bottom: 2%;
 
}


/* -------------- styling for the about page begins here */
/*  style for description on about page*/
#desc_about {
   background-color:#fff;
   border:solid #5c5858 1px;
   color:#5c5858;
   padding:5%;
   margin:4%;
   text-align:center;
}

/* nex lines describing contact */
#contact {
  text-align: center;
  padding:5%;
  color:#5c5858;
}
#mailto {
  color:#5c5858;
  text-align: center;
}
#mailto a {

  color:#272A31;
  font-weight: 600;
}





/*   beginning second article of heropage about.html  */
.about_2 {
  background-color:#fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5%;
}

.desc_about2{
  background-color:#fff;
  color:#5c5858;
  padding:5%;
  margin:4%;
  text-align:center;
  padding:8%;
  
}

#img_logo {
 
  width:80%;
  border:solid #b6b1b1;
  margin:10%;
}

/*   the last about section */
.about_last {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5%;

}



.img_box {

display:flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap:10%;

}

.summit_image {
  width:90%;
  padding:2%;
}


#partners {
  background-color: #414246;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width:100%;
  color:#D3D3D3;
  padding:5%;

}

#partners img {
  max-width: 100%;
  height:auto;
}
.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  color:#5c5858;
  padding:10%;
  font-size: 0.75rem;
}
.footer img {
  max-width:50%;
  height:auto;
}


@media screen and (min-width: 1024px) {


  .display_mobile {
    display:none !important;
  }
  .display_desktop{ 
    display:block !important;}

  .desktop_menu {
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content:right;
  list-style: none;
  width:100%;
  padding-right:10%;
  height:auto;
  }
  .desktop_menu li {
    color:#272A31;
    margin-top:1%;
  }

  #black-header {
    background-color: #272A31;
    height:20%;
    width:100%;
  } 
  #black-header ul li img {
    max-width:2%;
    height:auto;
  }

  header {
    width:100%;
    border: solid green;
  }
  
  #CCampgain {
   border:solid #EC5242 5px;
   color:#EC5242;
   font-weight: 500;
   padding:0.5%;
   margin-right:10%;
   margin-top:0;

  }

  #heroPage {
   
    background-image: url("images/main_big.png");
    background-repeat: no-repeat;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: space-evenly;
    margin-top:10px;
    gap:10px;
    color:#EC5242;
    margin-bottom: 0;
    padding-bottom: 0;
    border:solid purple 10px;
    
}
.navigation {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width:100%;
 margin-left:10%;

}

.hero {padding-top:20%;
    padding-left:10%;
    padding-top:10%;
    padding-bottom:10%;
}

#hero_h1{
  font-size:3.5rem;
  weight:1000;
}

#desc {
  padding:2%;
  width:45%;
  margin:0;
  margin-top:5%;
}
#date{margin-left:0;
margin-top:5%;}
#location {margin-left:0;}

#main {
  margin-top:0;
  
}

#main #divider {

  width:100%
}


#main_page_heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:10%;
  margin-top: 3%;

}
#main_page_heading li p  {
  width:100%;
  text-align: center;

}


#main_page_heading li {

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height:100%;
  padding:2%;
  margin-left:0.15%;
  
}
/*  Styles for cards generated through javascript  */

.btn_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.button_more {
  padding:3%;
  background-color:#fff;
  border:solid #5c5858 1px;
  width:70%;
  margin: 5%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  gap:3%; 
}

.speakerDiv{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5%;
  border:solid green;
}

.spkrs_head {
  color:#272A31;
  padding:5%;
  font-size: 1.5rem;

}
.profile-image {
  width:100%;
  height:auto;
  padding:3%;
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(3, 1fr); /* Three rows */
  gap: 10px;
  padding:20%;
  padding-top:0;
  padding-bottom: 5%;
}
.card {
  flex: 0 0 50%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap:5%;
  width:100%;
  height:auto;
  margin:5%;
 
}


.info_div {
  display:flex;
  flex-direction: column;
  justify-content:left;
  gap:3%;

}

.info_div .name {
  color:#272A31;
  font-size: 1.5rem;
   margin-bottom: 2%;
}
.info_div > .about {
  color: #EC5242;
  font-style: italic;
  margin-bottom: 2%;

}

.info_div > .achieve {
  color:#5c5858;
  font-size: 0.75rem;
  margin-bottom: 2%;
 
}


.partner {
width:100%;

}
.partner_title {
  color:#D3D3D3;
  text-align: center;
  background-color: #414246;
}

.partner img {

  width:100%
}
.partner h3 {
  padding:4%;
}
.footer-desktop {
 background-color: #D3D3D3;
 color:#272A31;
 display:flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap:5%;
 padding:5%;
}

.footer-desktop img {
  max-width:20%;
  height:auto;
}

.footerinfo {
  width:50%;
}
}
