html { scroll-behavior: smooth; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    /* padding:10px;
    overflow:scroll; */
    font-family: 'Lato',sans-serif;
  }
  

header {
    
    display:flex;
    flex-direction: row;
    justify-content: left;

    margin:10px;
}



#heroPage {
   
     background-image: url("images/mobile_intro_bg.png");
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     justify-items: start;
     justify-content: space-evenly;
     margin-top:10px;
     gap:10px;
     color:#EC5242;
}
#hero_h1 {

  padding-left: 1rem;
  font-weight: 900;
  font-size: 2rem;

    padding-left: 1rem;
    font-weight: 900;
    font-size: 2rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: url(images/titlebackground.jpeg);


  
}



#desc {
color:#5c5858;
padding:5%;
line-height:1.3rem;
border:solid #fff;
text-align: left;
font-weight:600;
font-size: 1 rem;
}

#main {
  background-color: #272A31;
  background-image: url('images/pattern_bg.png');
  background-repeat: repeat;
  width:100%;
  color:#D3D3D3;
 }
.heading_div {
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:5%;

}

#main_heading {
  text-align: center;
  padding:15px;
}

#date {
color:#5c5858;
font-weight: 800;
font-size: 2rem;
white-space: nowrap;
}

#location {
  color:#5c5858;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom:16%;
}

.speakers_visibility{
  display: none;
}


#divider {
  border:solid #EC5242 1px;
  width:20%;

  
}

.display_desktop{
 display: none;
}

#main_page_heading li {

  background-color:gray;
  border: 1px solid transparent; 
  margin:5px;
  margin:10px;  
  display: flex;
  flex-direction: row;
  align-items: self-start;
  gap:5px;
}


#main_page_heading li h3 {
  color: #EC5242;
  min-width:25%; 
}

#main_page_heading li p  {
  width:60%;
}

#join_button {
  color:#D3D3D3;
  font-size: 1.2rem;
  font-weight:600;
  background-color: #EC5242;
  width:80%;
  padding: 8%;
  border:none;
  margin-left: 10%;
  margin-right:10%;
  margin-top:5%;
  margin-bottom:5%;
}

#hamburgerMenu {
  display:none;
  background-color:#5c5858; 
  flex-direction: column;
  justify-content: left;
  padding: 7.125rem 1.5rem;
  width: 100%;
  height: 750px;
  display: none;
  position: fixed;
  opacity: 0.8;
  top: 0;
  padding-top: 5px;
  z-index: 9999;

}
.popmenu-list {
  list-style: none;
  font-weight:600;
  font-size: 2rem;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  z-index:9999;
  margin-left:3% ;
}
.popmenu-list > .menu-list {

 list-style: none;
 font-weight:600;
 font-size: 2rem;

}
.popmenu-list > .menu-list > a{
  text-decoration: none;
  color:#EC5242;
  font-style: solid;
}

#closebtn {
  margin-top:0;
  margin-right:0;
  margin-left:90%;
}

.speakers {
padding:10%;

}

.btn_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.button_more {
  padding:3%;
  background-color:#fff;
  border:solid #5c5858 1px;
  width:70%;
  margin: 5%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  gap:3%; 
}
.speakerDiv{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5%;
  padding:10%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.info_div {
  display:flex;
  flex-direction: column;
  justify-content:left;
  gap:5%;
  border: solid red;

}
.info_div .name {
  color:#272A31;
  font-size: 2rem;
}
.info_div > .about {
  color: #EC5242;
  font-style: italic;
}

.info_div > .achieve {
  color:#5c5858;
  font-size: 0.75rem;
}


/* -------------- styling for the about page begins here */
/*  style for description on about page*/
#desc_about {
   background-color:#fff;
   border:solid #5c5858 1px;
   color:#5c5858;
   padding:5%;
   margin:4%;
   text-align:center;
}

/* nex lines describing contact */
#contact {
  text-align: center;
  padding:5%;
  color:#5c5858;
}
#mailto {
  color:#5c5858;
  text-align: center;
}
#mailto a {

  color:#272A31;
  font-weight: 600;
}





/*   beginning second article of heropage about.html  */
.about_2 {
  background-color:#fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5%;
}

.desc_about2{
  background-color:#fff;
  color:#5c5858;
  padding:5%;
  margin:4%;
  text-align:center;
  padding:8%;
  
}

#img_logo {
 
  width:80%;
  border:solid #b6b1b1;
  margin:10%;
}

/*   the last about section */
.about_last {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5%;

}



.img_box {

display:flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap:10%;

}

.summit_image {
  width:90%;
  padding:2%;
}


#partners {
  background-color: #414246;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width:100%;
  color:#D3D3D3;
  padding:5%;

}

#partners img {
  max-width: 100%;
  height:auto;
}
.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  color:#5c5858;
  padding:10%;
  font-size: 0.75rem;
}
.footer img {
  max-width:50%;
  height:auto;


}


@media screen and (min-width: 1024px) {


  .display_mobile {
    display:none;
  }

  .desktop_menu {
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content:right;
  list-style: none;
  
  width:100%;
  

  }
  #black-header {
    background-color: #272A31;
    height:10%;
    margin-bottom: 20%;
  } 

  .header {
    margin-top:0;
  }
  
  #heroPage {
   
    background-image: url("images/main_big.png");
    background-repeat: no-repeat;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: space-evenly;
    margin-top:10px;
    gap:10px;
    color:#EC5242;
    
}
.navigation {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width:100%;

}
#desc {
  padding:2%;
  width:45%;
}

.hero {padding-top:20%;
  padding-left:10%;
    padding-top:10%;
    padding-bottom:10%;
}

.speakers_visibility {
  display: block;
}

}
